:root {
    --primary-color: rgb(103, 80, 164);
    --secondary-color: rgb(73, 62, 105);
    --primary-background-color: rgb(247, 242, 250);
    --secondary-background-color: rgb(246, 230, 255);
}

#survey-scroll-view #unity-content-container {
    padding-top: 20px;
    padding-right: 10%;
    padding-bottom: 20px;
    padding-left: 10%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.question-type-selection {
    position: absolute;
    left: 50%;
    top: 25px;
}

RadioButton > Label {
    flex-grow: 1;
    flex-shrink: 0;
}

RadioButton > VisualElement {
    flex-shrink: 1;
    max-width: 24px;
    min-width: 24px;
    width: 24px;
}

Toggle > Label {
    flex-grow: 1;
    flex-shrink: 0;
}

Toggle > VisualElement {
    flex-shrink: 1;
    max-width: 24px;
    min-width: 24px;
    width: 24px;
    margin-right: 8px;
}

RadioButtonGroup > VisualElement {
    align-self: center;
    justify-content: center;
    background-color: initial;
}

RadioButtonGroup > VisualElement:hover,
RadioButtonGroup > VisualElement:focus {
    background-color: initial;
}

RadioButtonGroup #contentContainer {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: flex-start;
}

RadioButtonGroup TemplateContainer {
}

#option-container {
    flex-grow: 0;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

#edit-option-button {
    flex-grow: 0;
    background-image: url("project://database/Assets/_Features/Survey/UI/Icons/dots-vertical.png?fileID=2800000&guid=2040f2cd9ea79384fa550b86e042f01b&type=3#dots-vertical");
    width: 32px;
    height: 32px;
    -unity-background-scale-mode: scale-to-fit;
    align-self: center;
}

#edit-col-button {
    flex-grow: 0;
    background-image: url("project://database/Assets/_Features/Survey/UI/Icons/dots-horizontal.png?fileID=2800000&guid=e1ed4ee9247a04641bef93df4c77be7d&type=3#dots-horizontal");
    width: 32px;
    height: 26px;
    -unity-background-scale-mode: scale-and-crop;
    margin-right: 0;
    align-self: center;
    align-content: flex-end;
    align-items: flex-end;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.radio_no-margin > VisualElement {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.radio-group-vertical #contentContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.radio-group-grid #contentContainer {
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
}

Button {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    background-color: var(--primary-background-color);
    color: var(--primary-color);
}

Button:hover {
    background-color: var(--secondary-background-color);
    cursor: url("project://database/Assets/_Features/Survey/UI/Icons/hand_32.png?fileID=2800000&guid=1b4075f7f88528c4186bf33a5f7161a0&type=3#hand_32");
}

Button VisualElement:hover {
    cursor: url("project://database/Assets/_Features/Survey/UI/Icons/hand_32.png?fileID=2800000&guid=1b4075f7f88528c4186bf33a5f7161a0&type=3#hand_32");
}

Button Label:hover {
    cursor: url("project://database/Assets/_Features/Survey/UI/Icons/hand_32.png?fileID=2800000&guid=1b4075f7f88528c4186bf33a5f7161a0&type=3#hand_32");
}

Button.icon {
    width: 32px;
    height: 32px;
    -unity-background-scale-mode: scale-to-fit;
    background-color: rgba(0, 0, 0, 0);
}

Button.icon:hover {
    background-color: rgb(247, 242, 250);
}

TextField TextElement:hover {
    cursor: url("project://database/Assets/_Features/Survey/UI/Icons/ibeam_32thin.png?fileID=2800000&guid=02d5e55818938834894e19a703e94dab&type=3#ibeam_32thin") 16 16;
}

TextField TextInput:hover {
    cursor: url("project://database/Assets/_Features/Survey/UI/Icons/ibeam_32thin.png?fileID=2800000&guid=02d5e55818938834894e19a703e94dab&type=3#ibeam_32thin") 16 16;
}

.active-question {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-left-color: var(--primary-color);
    border-right-color: var(--primary-color);
    border-top-color: var(--primary-color);
    border-bottom-color: var(--primary-color);
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    border-bottom-right-radius: 21px;
    border-bottom-left-radius: 21px;
}

#question-container {
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
}

TextField TextInput {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

DropdownField > Label {
    color: var(--primary-color);
}

DropdownField > VisualElement {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    background-color: var(--primary-background-color);
    color: var(--primary-color);
}

DropdownField:hover {
    cursor: url("project://database/Assets/_Features/Survey/UI/Icons/hand_32.png?fileID=2800000&guid=1b4075f7f88528c4186bf33a5f7161a0&type=3#hand_32");
}

DropdownField:hover > VisualElement {
    background-color: var(--secondary-background-color);
    cursor: url("project://database/Assets/_Features/Survey/UI/Icons/hand_32.png?fileID=2800000&guid=1b4075f7f88528c4186bf33a5f7161a0&type=3#hand_32");
}

VisualElement.unity-base-dropdown > VisualElement.unity-base-dropdown__container-outer {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    background-color: var(--primary-background-color);
    color: var(--primary-color);
}

ScrollView.unity-base-dropdown__container-inner {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    background-color: var(--primary-background-color);
    color: var(--primary-color);
}

.required-toggle {
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    width: 32px;
    height: 32px;
    background-image: url("project://database/Assets/_Features/Survey/UI/Icons/asterisk.png?fileID=2800000&guid=7ff93a71ce7cf10439fdd8ba5dd4d774&type=3#asterisk");
    -unity-background-scale-mode: scale-to-fit;
    background-size: 70% 70%;
    background-color: rgba(255, 255, 255, 0);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
}

.required-toggle__required {
}

.required-toggle__optional {
    background-image: url("project://database/Assets/_Features/Survey/UI/Icons/asterisk-crossed.png?fileID=2800000&guid=092533b3b39958b4184c2346388f42f5&type=3#asterisk-crossed");
}
